/* fonts */
.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* universal styles */
*{
    margin:0;
}
/* nav styles */
.nav-container{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:20px 50px;
    background-image:linear-gradient(to right,#414141,#000000);
    color:white;
}
.logo{
    font-size: 45px;
}
.nav-link{
    display:flex;
   gap:150px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size:20px;
    
    color:white;
    
    padding:10px;
    
    



    font-weight:bold;
}
/* banner styles */

.banner{
    background-image: url('../images/background2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height:700px;
    
    align-items: center;
}
.banner-container{
    display:flex;
}
.banner-title{
    font-size:45px;
    color:white;
    padding-top:200px;
    padding-left:100px;
}
.banner-sub-title{
    color:white;
    padding: 10px 100px;
}
.banner-btn{
    padding-left:100px;
    padding-top:20px;
}
.logo{
    padding-left: 50px;
}
.btn{
    padding:10px;
    width:150px;
    height:60px;
    font-size: 20px;
    border-radius:5px;
    background: linear-gradient(135deg, rgb(222, 138, 11), rgb(180, 90, 0));
    font-weight:bold;
    color:white;
    border-style:none;
}


.image{
    margin-left:300px;
    margin-top:80px;
    height:400px;
    width:400px;
    border-radius:50%;
    border:10px solid rgb(222, 138, 11);
    
}
li:hover{
    background: linear-gradient(135deg, #de8a0b, rgb(180, 90, 0));
    padding:5px;
    border-radius:5px;
}
button:hover {
  background: linear-gradient(135deg, #f5c842, #ffffff);
  cursor:pointer;
  color:black;
}
h3:hover{
    cursor:pointer;
}
/* about section style */

.about-title-description{
    text-align: center;
}
.designation-text-title{
    display:flex;
    justify-content: space-around;
    font-size: 20px;
    color:rgba(117, 117, 117, 1);
    font-weight:400px;
    padding-bottom:30px;
}
.designation-text{
    display:flex;
    justify-content: space-around;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    
}
.about{
   background: linear-gradient(135deg, #ffffff, #f5f5f5, #eeeeee);


     max-width:900px;
    
    margin-left:270px;
    margin-top:50px;
    margin-bottom:50px;
    border:3px none black;
    border-radius:15px;
    padding:100px 50px 50px 50px;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.15);

}

.title {
    padding-bottom:30px;

}
.description{
    padding-bottom:30px;
    font-size:18px;
    font-weight:400px;
    color:rgba(117, 117, 117, 1);
}
